@page
@model VariationWithoutCookie
@{
    ViewData["Title"] = "Variation withhout cookie";
}
<h1>@ViewData["Title"]</h1>

@foreach (string projectName in Model.Client.ListProjects())
{
    <div>
        <h2>Project Name</h2>
        <p>@projectName</p>
        <h1>Variation</h1>
        <p>
            
        </p>
    </div>
}
